@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Barclays.Localization
@using Volo.Abp.Users
@model Barclays.Web.Pages.IndexModel
@inject IHtmlLocalizer<BarclaysResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
<div class="container">
   
</div>
